
<header id="header">
    <div class="" style="background:#000000">
        <div class="font-size-14 px-3 border-start text-white" style="display:flex; justify-content:end; padding:10px 0">
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <!-- Primary Navigation -->
    <nav class="navbar navbar-expand-lg px-3 navbar-dark color-second-bg">
        <img src="~/assets/assets/phone.png" class="logo">
        <a class="navbar-brand" href="./index.html">Mobile Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-exl-collapse" id="navbarNav">
            <ul class="nav navbar-nav m-auto">
                <li class="nav-item active" style="margin-top:8px; margin-right: 10px">
                    <a style="color: rgba(255, 255, 255, 0.55)" href="@Url.Action("Index", "Home")">Trang Chủ</a>

                    @*@Html.ActionLink("Trang Chủ", "Index", "Home", new { @class = "my-link" })*@
                </li>
                <li class="nav-item" style="margin-top:8px">
                    <a style="color: rgba(255, 255, 255, 0.55)" href="@Url.Action("Index","Shop")">Sản Phẩm</a>
                    @*@Html.ActionLink("Sản Phẩm", "Index", "Shop")*@
                </li>
                @Html.Partial("_NhaSanXuat", WEBPHONE.Models.BUSS.NhaSanXuatBUS.DanhSach())
                @Html.Partial("_LoaiSanPham", WEBPHONE.Models.BUSS.LoaiSanPhamBUS.DanhSach())
                <li class="nav-item">
                    <a class="nav-link" href="#">Blogs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Coming Soon</a>
                </li>
            </ul>
            <form action="#" class="font-size-12">
                <a href="@Url.Action("index", "GioHang")" class="d-flex align-items-center rounded-pill bg-primary">
                    <span class="font-size-14 px-2 py-2 text-white">
                        <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                    </span>
                    <div class="px-3 py-2 font-size-14 rounded-pill text-black bg-white totalCart"></div>
                </a>
            </form>
        </div>
    </nav>
    <!-- !Primary Navigation -->
</header>
<script>
    var cartItems = JSON.parse(sessionStorage.getItem('cartItems')) || [];
    let cartCount = document.querySelector(".totalCart")
    
    cartCount.innerText = cartItems.length;

    

</script>