@model ShopConnection.SanPham
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}
<script src="~/Areas/AssetAdmin/js/product/previewFile.js"></script>
<h2>Delete</h2>
<style>
    input[type=text] {
        width: 100%;
        height: 40px;
        background: none;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=number] {
        width: 100%;
        height: 40px;
        background: none;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #2a9fd6;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }
</style>
@using (Html.BeginForm("Delete", "SanPhamAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table style="width:80% ;margin:auto; ">
        <tr>
            <td>Mã Sản Phẩm</td>
            <td> <input style="width: 300px;float:left; " maxlength="11" type="text" name="MaSP" required readonly value="@Model.MaSP" /></td>
            <td rowspan="8">
                <div>
                    <img id="target" class="img" src="#" alt=" your image" style="float:right" width="320px" height="300px" />
                </div>
            </td>
        </tr>
        <tr>
            <td>Tên Sản Phẩm</td>
            <td> <input style="width: 300px;float:left;" type="text" name="TenSp" maxlength="11" required readonly value="@Model.TenSp" /></td>
        </tr>
        <tr>
            <td>Mã Loại Sản Phẩm</td>
            <td>
                @*@Html.DropDownList("MaLoaiSP", (SelectList)ViewData["MaLoaiSP"], new { @style = "form-control ;height:30px; width: 300px;" });*@
                @*@Html.DropDownList("MaLoaiSP", null, new { @class = "form-control", @style = "height:30px; width: 300px;" });*@
                <input style="width: 300px;float:left; " maxlength="11" type="text" name="MaSP" required readonly value="@Model.MaLoaiSP" />

            </td>
        </tr>
        <tr>
            <td> Mã Nhà Sản Xuất</td>
            <td>
                @*@Html.DropDownList("MaNSX", null, new { @style = "float:left; width: 300px; background:black;height:30px;" })*@
                @*@Html.DropDownList("MaNSX", null, new { @class = "form-control", @style = "height:30px; width: 300px;" });*@
                <input style="width: 300px;float:left; " maxlength="11" type="text" name="MaSP" required readonly value="@Model.MaNSX" />
            </td>
        </tr>
        <tr>

            <td style="width: 300px;">Cấu Hình</td>
            <td colspan="2"><textarea class="ckeditor" name="CauHinh" style="width: 300px; height: 150px; max-width: 100px; max-height: 600px; background:white;" rows="4" cols="30" value readonly ="@Model.CauHinh"></textarea></td>
        </tr>
        @*-------------------Hình chính*@
        <tr>
            <td>Hình Chính</td>
            <td><input type="file" id="File_Hinh" class="img" onchange="previewFile();" style="float:left" value readonly ="@Model.HinhChinh"/></td>
        </tr>
        <tr>
            <td>Giá</td>
            <td> <input style="width: 300px;  float:left;" type="number" name="Gia" required readonly value="@Model.Gia"/></td>
        </tr>
        <tr>
            <td>Ghi Chú</td>
            <td> <input style="width: 300px;float:left;" type="text" name="GhiChu" required readonly value="@Model.GhiChu"/></td>
        </tr>


        <tr>
            <td colspan="3">
                <input style="height: 40px; width: 300px;   margin-left:32%;
	 background:#016ABC;color: #fff;border: 1px solid #eee;border-radius: 20px;box-shadow: 5px 5px 5px #eee;"
                       type="submit" name="btn_ThemDienThoai" value="Xóa Sản Phẩm" />
            </td>
        </tr>
    </table>
}
